@{
    ViewBag.Title = "Quanlysach";
}
<div class="row">
    <div class="book-section">
        <img class="book-picture" 
             src="~/Images/Book01.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4> 
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>

    <div class="book-section">
        <img class="book-picture" 
             src="~/Images/Book02.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p> 
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>

    <div class="book-section">
        <img class="book-picture" 
             src="~/Images/Book03.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4> 
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>

    <div class=" book-section">
        <img class=" book-picture" 
             src="~/Images/Book01.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title"> John Doe</h4>
            <p class="card-text">Some example text.</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>

    <div class="book-section">
        <img class="book-picture"
             src="~/Images/Book02.jpg" alt="Card image">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text.</p> 
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</div>
